/.idea/
.vscode/
.env
*.log
/node_modules/
node_modules/
**/node_modules/
/.angular/
.angular/
**/.angular/
**/.angular/cache/
/BackEnd/**/target/
/BackEnd/**/logs/
/BackEnd/**/data/
/BackEnd/**/spring-boot-loader/
/BackEnd/**/.mvn/
*.iml
dist/
.DS_Store
.vscode/
.idea/
BackEnd/.idea/
target/
