# -----------------------------------------
# Shared Keycloak DB (Neon/PostgreSQL)
# -----------------------------------------
# Copy this file to BackEnd/.env and keep same values for all teammates.

# Keycloak admin user for http://localhost:8080/admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

# Keycloak DB
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://ep-cool-breeze-agqhhjlc.c-2.eu-central-1.aws.neon.tech:5432/KeyCloak?sslmode=require&channel_binding=require
KC_DB_USERNAME=neondb_owner
KC_DB_PASSWORD=npg_Zb1Kda5LPlin

# Optional local fallback (not shared):
# docker compose --profile local-keycloak-db -f docker-compose.infra.yml up -d
